@use './colors';
@use './fonts';
@use './units';

@mixin color {
  .button--primary {
    color: white;
  }
  .button--secondary, .button--tertiary {
    color: var(--var-color, colors.$secondary-medium);
    &:hover {
      // color: var(--var-color, colors.$secondary-dark);
    }
  }
};

@mixin font-size {
  .small {
    font-size: units.rem(16);
  }

  .button--medium {
    font-size: units.rem(18);
  }
  
  .button--large {
    font-size: units.rem(20);
  }
};

.button-container {
  @include color;
  @include font-size;

  display: flex;
  flex-direction: row;
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: var(--var-width, auto);

    &--primary {
      border: units.rem(1) solid var(--var-color, colors.$secondary-medium);
      background-color: var(--var-background-color, colors.$secondary-medium);
      &:hover {
        border: units.rem(1) solid colors.$secondary-dark;
        background-color: var(--var-hover-background-color, colors.$secondary-dark);
      }
    }

    &--secondary {
      border: units.rem(1) solid var(--var-color, colors.$secondary-light);
      background-color: var(--var-background-color, transparent);
      &:hover {
        background-color: var(--var-hover-background-color, colors.$secondary-lightest);
      }
    }

    &--tertiary {
      border: units.rem(1) solid var(--var-color, colors.$secondary-light);
      background-color: var(--var-background-color, colors.$secondary-lightest);
      &:hover {
        border: units.rem(1) solid var(--var-color, colors.$secondary-medium);
        background-color: var(--var-hover-background-color, colors.$secondary-extra-light);
      }
    }

    &--small {
      height: units.rem(40);
      border-radius: units.rem(20);
      padding-left: units.rem(16);
      padding-right: units.rem(16);
    }

    &--medium {
      height: units.rem(50);
      border-radius: units.rem(30);
      padding-left: units.rem(30);
      padding-right: units.rem(30);
    }

    &--large {
      height: units.rem(60);
      border-radius: units.rem(40);
      padding-left: units.rem(40);
      padding-right: units.rem(40);
    }

    .right-icon {
      margin-left: units.rem(10);
    }

    .left-icon {
      margin-right: units.rem(10);
    }
  }
}